<table>
  <tr>
    <th>City name</th>
    <td><%= @city.city_name %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= @city.country %></td>
  </tr>
  <tr>
    <th>Time zone offset</th>
    <td><%= @city.time_zone %></td>
  </tr>
  <tr>
    <th>Population (in millions)</th>
    <td><%= @city.population %></td>
  </tr>
</table>
