<% @students.each do |student| %>
  <% @exercises.each do |exercise| %>
    <ul>
      <li><%= student.first_name %>'s grade on <%= exercise.directory %></li>
    </ul>
  <% end %>
<% end %>

<%#ask Daniel about why I have spaces inbetween each <li>%>
