<HTML>

<body>

Gender:
<br>
  <input type="radio"> Male <input type="radio" checked> Female
</form>

<p></p>

Favorite color:
<br>
<select>
  <option>blue</option>
  <option>green</option>
  <option>red</option>
</select>

<p></p>

Blood donor?
<br>
<input type="checkbox"/>

</body>
