<HTML>

<body>

<p>
Gender:<br>
<input type="radio"> Male <input type="radio"> Female
</p>

Favorite color:<br>
<select>
  <option>(choose one)</option>
  <option>Blue</option>
  <option>Green</option>
  <option>Red</option>
</select>

Blood donor?
<br>
<input type="checkbox"/>

</body>

<%# ask Daniel about the funny spacing syntax here; i.e. why is a <p>
required between "Gender" and "Favorite color" and not
"Favorite color"? and "Blood donor"%>