<ul>
  <li><a href=http://localhost:9292/example1>Example #1</a></li>
  <li><a href=http://localhost:9292/example2>Example #2</a></li>
  <li><a href=http://localhost:9292/example3>Example #3</a></li>
</ul>