<h1>Question #1</h1>

<p>
What is 8 + 5?
</p>

<p>
<%== radio_button_tag :selected_answer, "15", nil %>
15
</p>

<p>
<%== radio_button_tag :selected_answer, "40", nil %>
40
</p>

<p>
<%== radio_button_tag :selected_answer, "13", nil %>
13
</p>

<%== submit_tag "Submit answer" %>